{% for group in groups if group not in [ 'all', 'proxmox_host', 'ungrouped'] %}
[{{ group }}]
{% for host in groups[group] %}
{{ host }} ansible_host={{ hostvars[host].ansible_host }} ansible_user={{ hostvars[host].ansible_user }}
{% endfor %}

{% endfor %}

[all:vars]
ansible_ssh_common_args='-o StrictHostKeyChecking=no'

rhsm_username={{ rhsm_username }}
rhsm_password={{ rhsm_password }}
ceph_dashboard_admin_password="{{ ceph_dashboard_admin_password }}"
ceph_grafana_admin_password="{{ ceph_grafana_admin_password }}"
