{% for group in groups if group not in [ 'all', 'proxmox_host', 'ungrouped'] %}
[{{ group }}]
{% for host in groups[group] %}
{{ host }} ansible_host={{ hostvars[host].ansible_host }} ansible_user={{ hostvars[host].ansible_user }}
{% endfor %}

{% endfor %}
